

.sizeFont{
    width: 100%;
    padding: 20px;
    word-wrap: break-word;
    font-size: 40px !important;
    
}

@media screen and (max-width: 700px){
    .brand-logo{
        display: block !important;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 590px){
    .brand-logo{
        display: block !important;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 475px){
    .brand-logo{
        display: block !important;
        font-size: 19px !important;
    }
}

